
/*start rulez*/

.container
{
    width:1170px;
    margin:auto;

}
.clearfix { clear: both }
/*end rulez*/
/*start header*/
.header .slider
    {
    background-color: #eee;
    height:600px;
    background-image:url('../head.jpg');
   -webkit- background-size:cover; /*css3*/
    -moz-background-size:cover; /*css3*/
    -o-background-size:cover; /*css3*/
    background-size:cover; /*css3*/
      
    }
.header .slider .intro 
    {
    padding-top:290px;
    text-align:center;
    color:#fff
    }
.header .slider .intro h2
    {
    margin:0 auto;
    font-size:40px;
    width:500px;
    border-top:3px solid #fff;
    border-bottom:4px solid #fff;
    padding:5px 0
    }
.header .slider .intro  button
    {
    background:none;
    margin-top:30px;
    border:2px solid #fff;
    padding:10px 20;
    font-size:20px;
    color:#fff;
    font-weight:bold;
    text-transform:uppercase;
    cursor: pointer
    }
.header .slider .intro  button:hover{color:blue}
.header .navbar 
    {
    background-color:#252F31;
    color:#fff;
    overflow:hidden;
   }
.header .navbar h2 span { color:dodgerblue; font-size:30px }
.header .navbar ul
    {
    list-style-type:none;
    padding-left:0;
    overflow:hidden;
    float:right    
    }
.header .navbar ul li 
    {
    float:left;
    padding:10px;
     text-transform:capitalize
    }
.header .navbar ul li a{ text-decoration:none; color:#fff}

.header .navbar ul li a:hover { color:#249561 }

.header .navbar ul li.active a { color:chartreuse; text-decoration:underline }
/*end header*/
/*start features*/
.features
    {
    overflow:hidden;
    padding-top:40px;
    padding-bottom:50px
    }
.features .feat { width:33.33333%; height:150px;}

.features .feat h2 { text-transform:capitalize; color:#444}

.features .feat p { text-align:justify; padding:0 20px 0 0 }
/*end features*/
/*start about me*/
.about-me { background-color:#F2F2F2; overflow:hidden }

.about-me .image { width:40% }

.about-me .image img { width:100%}

.about-me .courses { width:60% }

.about-me .courses h2 {margin:25px 0 20px 40px; color:#555}

.about-me .courses > p { margin:0 0 10px 40px;}

.about-me .courses > p:last-of-type { margin-top:25px}

.about-me .courses  p { line-height:1.6; color:#666 }

.about-me .courses .hobbies { overflow:hidden; margin:15px 0 0 40px}

.about-me .courses .hobbies .content
    {
    width:50%;
    min-height: 100px;
    overflow: hidden
    }

.about-me .courses .hobbies .content h3 { color:#555 }

.about-me .courses .hobbies .content .icon { width:12%; margin-right:5px }

.about-me .courses .hobbies .content .icon img{ max-width: 100%;  margin:40px 10px 0 0 }

.about-me .courses .hobbies .content .text{ width:83%}

.about-me .courses .hobbies .content .text p {margin-top:0}

.about-me .courses .hobbies .content .text h3 { margin-bottom:5px}
/*end about me*/
/*start myskills*/
.my-skills
    {
    padding-top:30px;
    padding-bottom:50px;
    overflow:hidden
    }

.my-skills .skills h2 { margin:25px 0 20px 40px;color:#555}

.my-skills .skills p { margin:25px 0 20px 40px;}

.my-skills .skills p:last-of-type { margin:25px 0 20px 40px}

.my-skills .skills button {margin:25px 0 20px 40px;}

.my-skills .skills,
.my-skills  .exp 
{width:50%}

.my-skills  .exp .technique { margin-left:50px}

.my-skills  .exp .technique h3 {color:#555  }

.my-skills  .exp .technique div {background-color:#F2F2F2;  height:25px }

.my-skills  .exp .technique div span
    {
    background-color:#2DCC70;
    display:block;
    height:25px;
    line-height:25px;
    text-align:right;
    color:#fff
    }
/*end myskills*/
/*start resume*/
.resume
    {
    overflow:hidden;
    background-color:#F2F2F2;
    padding-top:50px;
    padding-bottom:70px;
     text-align:center;
    }

.resume h2 { font-weight:bold; color:#666 }

.resume p { padding:0 40px }

.resume button { margin:15px 0 0 0;}
/*end resume*/
/*start my education */
.my-education
    {
    overflow:hidden;
    padding-top:30px;
    padding-bottom:30px
    }

.my-education  hr
    {
  margin:20px 0;
    background-color:#999;
    height:1px;
    border:0
    }

.my-education .education h2 { color:#555; margin:25px 0 20px 40px}

.my-education .education p { margin:25px 0 20px 40px }

.my-education .education p:last-of-type{margin-top:25px}

.my-education .education{ width:50%; margin-right:5%}

.my-education .progress { width:45%;}

.my-education .progress h3{ margin-top:85px; margin-bottom:10px}

.my-education .progress span { display:block; margin-bottom:10px}

.my-education .progress span:first-of-type{color:#999}

.my-education .progress span:last-of-type
    {
    background-color:#2DCC70;
    color:#fff;
    padding:4px 10px;
    display:inline-block;
    }
/*end my education*/
/*start testmonails*/
.testmonials
    {
    background-color:#F2F2F2;
    text-align:center;
    padding-top:50px;
    padding-bottom:50px
    }

.testmonials q
    {
    color:#888;
    line-height:1.8;
    font-size:18px;
    font-style:italic;
    font-weight:bold;
    margin-left:20px
    }

.testmonials h3
    {
    color:darkcyan;
    font-size:30px;
    margin-bottom:30px
    }

.testmonials h3 span{ color:dodgerblue; font-size:30px}
  
.testmonials ul 
    {
    list-style-type:none;
    padding-left:0;
    text-align:center;
    margin-top:40px
    }

.testmonials ul li
    {
    width:10px;
    height:10px;
    border:3px solid #2DCC70;
    display:inline-block;
    border-radius:50%;
    cursor:pointer
    }

.testmonials ul li.active {background-color: #2DCC70;}

.testmonials ul li:hover{ background-color:cornflowerblue} 
/*end testmonials*/
/*start portfolio*/
.portfolio
    {
    padding-top:50px;
    padding-bottom:70px;
    overflow:hidden;
    text-align:center
    }

.portfolio h2 { color:#777}

.portfolio p
    {
    font-style: italic;
    margin-bottom:50px;
    margin-left:20px
    }

.portfolio .our-work >div
    {
    float:left;
    width:33.333333%;
    margin-bottom:10px
    }
.portfolio .our-work >div img 
    {
    width:92%;
    margin:10px;
    padding:3px;
    background-color:#fff;
    border:1px solid #CCC;
    box-shadow: 10px 30px 20px #659385
   }
/*end portfolio*/
/* start contact me*/
.contact-me
    {
    padding-top:50px;
    padding-bottom:70px;
    overflow:hidden;
    background-color:#252F31;
   }

.contact-me .contact
    {
    float:left; 
    width:50%;
    margin-right:5%
   }

.contact-me h2 
    {
    color:#fff;
    text-transform:capitalize;
    margin-left:40px
    }

.contact-me p { color:#6A6E71; margin-left:40px}

.contact p strong {color:#D1D6Da}

.contact-me.personal-info{width:45%; float:left}

.contact-me .personal-info label
    {
    display:block;
    margin-bottom:10px;
   color:#D1D6Da
    }

.contact-me .personal-info input[type="text"]
    {
    background-color: #4B5557;
    color:#fff;
    padding:10px;
    border:0;
    width:500px;
    margin-bottom:10px
   }

.contact-me .personal-info textarea
    {
    background-color:#4B5557;
    color:#fff;
    padding:10px;
    border:0;
    width:500px;
    height:200px;
    }

.contact-me .personal-info input[type="submit"]
    {
    float:right;
    margin-right:365px;
    margin-top:30px;
    background-color:#191E22;
    border:0;
    padding:10px 30px;
    color:#fff;
    font-size:20px
    }
/*end contact me*/
/*start fotter*/
.fotter
   {
    padding:20px 0;
    background-color:#191E22;
    color:#6A6E71;
    overflow:hidden;
    text-align:center
    }

.fotter span { float:left;}

.fotter ul 
    {
    list-style-type:none;
    padding-left:0;
    margin:0;
    float:right
    }

.fotter ul li { display:inline-block; padding:0 5px}

.fotter ul li img {width:24px}
/*end fotter*/
/*start framework*/

.my-button
    {   
    background:none;
    border:3px solid #2DCC70;
    padding:10px 30px;
    color:#2DCC70;
    font-weight:bold;
    cursor: pointer;
    }

.my-button:hover { color:cornflowerblue}

.fl-left{float:left}

p { line-height:1.7; color:#888}
/*end frame work*/


